aiohttp==3.7.4
async-timeout==3.0.1
asyncpg==0.18.3
Jinja2==2.10
marshmallow==3.0.0rc7
more-itertools==7.1.0
pytest==5.0.0
python-dateutil==2.8.0
python-debian==0.1.32
requests==2.18.4
requests-async==0.5.0
sanic==19.6.0
Sanic-Cors==0.9.8.post1
Sanic-Plugins-Framework==0.7.0

