

.load-wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
}

.lds-circle {
    display: inline-block;
    transform: translateZ(1px);
  }
  .lds-circle > div {
    display: inline-block;
    width: 51px;
    height: 51px;
    margin: 6px;
    border-radius: 50%;
    background: #fff;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  @keyframes lds-circle {
    0%, 100% {
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(1800deg);
      animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
      transform: rotateY(3600deg);
    }
  }

.card-datatable{
  box-shadow: 0 0 30px 0 rgba(0,0,0,.3);
}

.ngx-datatable.material {
    background: #FFF;
    -webkit-box-shadow: 0 5px 5px -3px rgba(0, 253, 0, 0.2), 0 8px 10px 1px rgba(0, 210, 120, 0.14), 0 3px 14px 2px rgba(0, 200, 120, 0.12);
    box-shadow: 0 5px 5px -3px rgba(0, 253, 0, 0.2), 0 8px 10px 1px rgba(0, 210, 120, 0.14), 0 3px 14px 2px rgba(0, 200, 120, 0.12)
}