/*------------------------------------------------------------------------------
  GERA3- Angular 5
------------------------------------------------------------------------------*/
//== mixins
@import '../node_modules/compass-mixins/lib/animate';
//== Vendor
@import '../node_modules/mdi/css/materialdesignicons.css';
@import '../node_modules/multi-brand-colors/dist/scss/index.scss';
@import '../node_modules/material-design-iconic-font/dist/css/material-design-iconic-font.css';
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
//== App
@import "./app/shared/styles/app";
//== Toastr
@import '~ngx-toastr/toastr.css';
// regular style toast 
@import '~ngx-toastr/toastr';
// if you'd like to use it without importing all of bootstrap it requires 
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/src/themes/material.scss';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

#toast-container > div {
  opacity:1;
}

.mat-tab-group-dynamic-height .mat-tab-body-content{
  overflow:auto !important;
}

.status-success{
  background-color:rgba(0,255,0,0.1) !important;
}

.status-danger{
  background-color:rgba(255,0,0,0.1) !important;
}

.status-warning{
  background-color:rgba(255, 166, 0, 0.1) !important;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.4em;
  background-color: slategray;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px slategray;
  -webkit-border-radius: 15px;
  border-radius: 10px;
  background-color: #28303F;
}


::-webkit-scrollbar-thumb {
background-color: #31a265;
outline: 1px solid slategrey;
-webkit-border-radius: 10px;
border-radius: 10px;
cursor: move !important;
}

.mat-tooltip{
  //background: #1A090D !important;
  //background: #4A314D !important;
  //background: #ABEDC6 !important;
  //background: #0A2239 !important;
  //background : #132E32 !important;
  //background: #0D1321 !important;
  background: rgba(13,19,33,0.6) !important;
}

#container {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.item {
  width: 100px;
  height: 100px;
  position: absolute;
}

.item-1 {
  background-color: #FF3333;
  top: 0;
  left: 0;
  z-index: 1;
  animation: item-1_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
}

.item-2 {
  background-color: #CCFF99;
  top: 0;
  right: 0;
  animation: item-2_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
}

.item-3 {
  background-color: #66FFFF;
  bottom: 0;
  right: 0;
  z-index: 1;
  animation: item-3_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
}

.item-4 {
  background-color: rgba(30, 25, 11, 0.3);
  bottom: 0;
  left: 0;
  animation: item-4_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
}

@keyframes item-1_move {
  0%, 100% {transform: translate(0, 0)} 
  25% {transform: translate(0, 100px)} 
  50% {transform: translate(100px, 100px)} 
  75% {transform: translate(100px, 0)} 
}

@keyframes item-2_move {
  0%, 100% {transform: translate(0, 0)} 
  25% {transform: translate(-100px, 0)} 
  50% {transform: translate(-100px, 100px)} 
  75% {transform: translate(0, 100px)} 
}

@keyframes item-3_move {
  0%, 100% {transform: translate(0, 0)} 
  25% {transform: translate(0, -100px)} 
  50% {transform: translate(-100px, -100px)} 
  75% {transform: translate(-100px, 0)} 
}

@keyframes item-4_move {
  0%, 100% {transform: translate(0, 0)} 
  25% {transform: translate(100px, 0)} 
  50% {transform: translate(100px, -100px)} 
  75% {transform: translate(0, -100px)} 
}


  .swal2-popup {
    display: none;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 32em;
    max-width: 100%;
    padding: 1.25em;
    border-radius: .3125em;
    background: #232936 !important;
    font-family: inherit;
    font-size: 1rem;
    box-sizing: border-box;
}

.swal2-confirm {
  background-color: #f3c789 !important; 
  color: #fff !important;
  box-shadow: 0 2px 2px 0 rgba(255, 152, 0, 0.14), 0 3px 1px -2px rgba(255, 152, 0, 0.2), 0 1px 5px 0 rgba(255, 152, 0, 0.12) !important;
}

.swal2-icon.swal2-warning {
  border-color: #3c7fca !important;
  color: #3c7fca !important;
}

.swal2-title{
  color: #FFFFFF !important;
}

.swal2-content{
  color: #FFFFFF !important;
}

.swal2-popup .swal2-styled.swal2-cancel:hover {
  background: transparent;
    color: #3c7fca;
    border: 1px solid #3c7fca;
}

.ngx-datatable.material {
  background: #fff;
  box-shadow: none;
  font-size: 15px;
  color: #37576d;

  &.striped {
    .datatable-row-odd {
      background: #eef5f9;
    }
  }

  &.multi-click-selection,
  &.multi-selection,
  &.single-selection {
    .datatable-body-row {
      &.active,
    &.active .datatable-row-group {
      background-color: #2196f3;
      color: #000000;
    }

    &.active:hover,
    &.active:hover .datatable-row-group {
      background-color: #2196f3;
      color: #000000;
    }

    &.active:focus,
    &.active:focus .datatable-row-group {
      background-color: #2196f3;
      color: #000000;
    }
    }
  }

  &:not(.cell-selection) {
    .datatable-body-row {
      &:hover,
      &:hover .datatable-row-group {
        background-color: #eef5f9;
        transition-property: background;
        transition-duration: 0.3s;
        transition-timing-function: linear;
      }

      &:focus,
      &:focus .datatable-row-group {
        background-color: #eef5f9;
      }
    }
  }

  &.cell-selection {
    .datatable-body-cell {
      &:hover,
      &:hover .datatable-row-group {
        background-color: #eef5f9;
        transition-property: background;
        transition-duration: 0.3s;
        transition-timing-function: linear;
      }

      &:focus,
      &:focus .datatable-row-group {
        background-color: #eef5f9;
      }

      &.active,
      &.active .datatable-row-group {
        background-color: #304ffe;
        color: #fff;
      }

      &.active:hover,
      &.active:hover .datatable-row-group {
        background-color: #193ae4;
        color: #fff;
      }

      &.active:focus,
      &.active:focus .datatable-row-group {
        background-color: #2041ef;
        color: #fff;
      }
    }
  }
  /**
  * Shared Styles
  */
  .empty-row {
    height: 50px;
    text-align: left;
    padding: 10px;
    vertical-align: top;
    border-top: 0;
  }

  .loading-row {
    text-align: left;
    padding: 0.5rem 1.2rem;
    vertical-align: top;
    border-top: 0;
  }
  /**
  * Global Row Styles
  */
  .datatable-body,
  .datatable-header {
    .datatable-row-left {
      background-color: #fff;
      background-position: 100% 0;
      background-repeat: repeat-y;
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAFklEQVQIHWPSkNeSBmJhTQVtbiDNCgASagIIuJX8OgAAAABJRU5ErkJggg==");
    }

    .datatable-row-right {
      background-position: 0 0;
      background-color: #fff;
      background-repeat: repeat-y;
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAFklEQVQI12PQkNdi1VTQ5gbSwkAsDQARLAIGtOSFUAAAAABJRU5ErkJggg==");
    }
  }
  /**
  * Header Styles
  */
  .datatable-header {
    border-bottom: 1px solid #d7e1ed;
    font-weight: 600;
    vertical-align: middle;
    display: table-cell;

    .datatable-header-cell {
      text-align: left;
      padding: 10px;
      font-weight: 600;
      vertical-align: middle;
      min-height: 60px;

      .datatable-header-cell-wrapper {
        position: relative;
      }

      &.longpress {
        .draggable::after {
          transition: transform 400ms ease, opacity 400ms ease;
          opacity: 0.5;
          transform: scale(1);
        }
      }

      .draggable::after {
        content: " ";
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -30px 0 0 -30px;
        height: 60px;
        width: 60px;
        background: #eef5f9;
        border-radius: 100%;
        opacity: 1;
        filter: none;
        transform: scale(0);
        z-index: 9999;
        pointer-events: none;
      }

      &.dragging {
        .resize-handle {
          border-right: none;
        }
      }
    }

    .resize-handle {
      border-right: solid 1px #eef5f9;
    }
  }
  /**
  * Body Styles
  */
  .datatable-row-wrapper {
    border-bottom: 1px solid #d7e1ed;
    &:last-child {
      border: none;
    }
  }
  .datatable-body {
    .datatable-row-detail {
      background: #f5f5f5;
      padding: 10px;
    }

    .datatable-body-row {
      .datatable-body-cell {
        text-align: left;
        padding: 10px;
        vertical-align: top;
        border-top: 0;
        -webkit-transition: width 0.3s ease;
        transition: width 0.3s ease;

        &[ng-reflect-is-selected="true"] {
          background: #e3ecf7;
        }
      }
    }

    .progress-linear {
      display: block;
      position: relative;
      width: 100%;
      height: 5px;
      padding: 0;
      margin: 0;
      position: absolute;

      .container {
        display: block;
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 5px;
        -webkit-transform: translate(0, 0) scale(1, 1);
        transform: translate(0, 0) scale(1, 1);
        background-color: rgb(170, 209, 249);

        .bar {
          transition: all 0.2s linear;
          -webkit-animation: query 0.8s infinite cubic-bezier(.39, .575, .565, 1);
          animation: query 0.8s infinite cubic-bezier(.39, .575, .565, 1);
          transition: -webkit-transform 0.2s linear;
          transition: transform 0.2s linear;
          background-color: rgb(16, 108, 200);
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 100%;
          height: 5px;
        }
      }
    }
  }
  /**
  * Footer Styles
  */
  .datatable-footer {
    font-size: 13px;

    .page-count {
      line-height: 50px;
      height: 50px;
      padding: 0 1.2rem;
    }

    .datatable-pager {
      margin: 0 10px;
      vertical-align: top;
      ul {
        li {
          margin: 10px 0px;
          &:not(.disabled) {
            &.active{
              a {
                background-color: #00d1b2;
                font-weight: bold;
              }
            }
            &:hover {
              a {
                background-color: #63961C;
                font-weight: bold;
              }
            }
          }
        }
      }

      a {
        height: 22px;
        min-width: 24px;
        line-height: 22px;
        padding: 0 6px;
        border-radius: 3px;
        margin: 6px 3px;
        text-align: center;
        vertical-align: top;
        color: rgba(0, 0, 0, .54);
        text-decoration: none;
        vertical-align: bottom;

        &:hover {
          color: rgba(0, 0, 0, .75);
          background-color: rgba(158, 158, 158, 0.2);
        }
      }

      .datatable-icon-left,
      .datatable-icon-prev,
      .datatable-icon-right,
      .datatable-icon-skip {
        font-size: 20px;
        line-height: 20px;
        padding: 0 3px;
      }
    }
  }

  a.icon {
    border: none;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    display: inline-block;
    line-height: 37px;
    text-indent: 6px;
    font-size: 22px;

    &:hover {
      background: #688696;
      color: #fff;
    }
  }
}

.data-filter-wrapper {
  display: none;

  .filter-icons {
    top: 31px;
    margin-top: -15px;
    line-height: 30px;
    margin-right: 10px;
    font-size: 25px;
    position: absolute;
    z-index: 100;
  }

  .search {
    left: 15px;
    right: auto;
  }

  .close {
    right: 15px;
    left: auto;
  }

  .data-filter {
    padding: 8px;
    margin: 15px auto;
    width: 100%;
    height: 60px;
    position: absolute;
    z-index: 99;
    top: -15px;
    border: none;
    text-indent: 45px;
    background-color: #e3ecf7;
    background-image: none;
  }

  &.active {
    display: block;
  }
}

.ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
  overflow: initial;
}

.ngx-datatable .datatable-body .datatable-body-row > div {
  display: table;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
  vertical-align: middle;
  display: table-cell;
}

.float-auto .mat-input-wrapper {
  padding-bottom: 1.3rem !important;
  width: 100%;
}

/**
* Progress bar animations
*/
@keyframes query {
  0% {
    opacity: 1;
    transform: translateX(35%) scale(.3, 1);
  }

  100% {
    opacity: 0;
    transform: translateX(-50%) scale(0, 1);
  }
}

[class*=" datatable-icon-"]:before,
[class^="datatable-icon-"]:before {
  font-size: 25px;
}

.id-form{
  width: 10%;
}

