.title{
    text-align: center;
    //background: #04724D;
    font-weight: 30;
    font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    background-image: linear-gradient(141deg,#009e6c 0,#00d1b2 71%,#00e7eb 100%);
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.line-info{
    display: inline-flex;
}

.value-info{
    display: inline;
    padding: 5px;
    color: #B1F8F2;
}

.value-label{
  color: #FFFFFF;
  font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-weight: 30;
  margin: 0 0 0 0;
}

.value-info-div{
    display: flex;
    text-align: center;
    justify-content: center;
}

.load-wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
}

.time-bt{
  background-image: linear-gradient(141deg, #009e6c 0, #00d1b2 71%, #00e7eb 100%);
  margin-bottom: 10px;
  margin-left: 40px;
}

.select-div{
  left: 0px;
  margin-left: 5px;
  width: 20%;
  padding: 0 0 0 0;
  display: inline-block;
  margin-left: 30px;
}

.time-select .mat-select-value {
  color:  #009e6c !important;
  font-size: 12px;
}

.form-field.mat-form-field-appearance-legacy .mat-form-field-label {
  color: #00B2A9 !important;
}

.form-field.mat-form-field.mat-focused .mat-form-field-label {
  color: #00B2A9 !important;
}

.form-field.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: #FFFFFF !important;
}

.mat-select-arrow {
  color: gray !important;
}

/* to change underline when focused */
.mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-underline {
  background-color: #63961C !important;
}

/* to change plceholder text when focused */
.mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-trigger {
  color: #63961C;
}

/* to change selected item color in the select list */
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #63961C;
}

.mat-form-field-ripple {
  background-color: #00d1b2  !important;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #00d1b2;
}

.mat-tab-label .mat-tab-label-content {
  color: white !important;
}

.lds-circle {
    display: inline-block;
    transform: translateZ(1px);
  }
  .lds-circle > div {
    display: inline-block;
    width: 51px;
    height: 51px;
    margin: 6px;
    border-radius: 50%;
    background: #fff;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  @keyframes lds-circle {
    0%, 100% {
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(1800deg);
      animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
      transform: rotateY(3600deg);
    }
  }
