<nav class="navbar menu">
  <!-- logo -->
  <div class="navbar-brand">
    <a class="navbar-item">
      <img style="width: 32px; height: 32px;" src="assets/images/icon.png">
    </a>
  </div>
  <!-- menu -->
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/cotacao-bovespa">
        <i style="vertical-align: middle;" class="material-icons">
          timeline
        </i>
        Bovespa
      </a>
      <a class="navbar-item" routerLink="/empresas">
        <i style="vertical-align: middle;" class="material-icons">
          work
        </i>
        Empresas
      </a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
